# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore embeddings and test data
embeddings/
new_faces/
new_voices/

# Ignore logs
logs/

# Ignore OS-specific files
.DS_Store
Thumbs.db


venv310/
.Python
*.db
*.sqlite3
*.log
.DS_Store
.env
.env.*
*.egg-info
*.git/
